# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# REAL ENV FILES (ignored for safety)
.env
.env.local
.env.production
.env.development
.env.test

# ALLOW SAFE EXAMPLE FILES (committed to Git)
!.env.example
!.env.local.example

# vercel
.vercel

# typescript build info
*.tsbuildinfo
next-env.d.ts

# pnpm
pnpm-lock.yaml
.pnpm-store/
